.weather-card {
  flex: 0 0 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.weather__date {
  color: #eb6e4b;
  font-size: 18px;
  font-weight: 700;
}

.weather__location {
  font-size: 25px;
  font-weight: 700;
}

.weather__temperature {
  display: flex;
  align-items: center;
}
.weather__temperature__number {
  font-size: 36px;
}

.weather__text {
  font-size: 14px;
  font-weight: 700;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 14px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .weather-card {
    padding: 10px;
  }

  .weather__date {
    font-size: 12px;
  }

  .weather__location {
    font-size: 21.5px;
  }
  .weather__temperature__number {
    font-size: 31px;
  }

  .weather__text {
    font-size: 12px;
  }
}
